<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ProxyMov_DownloadServer.styles.css"]" />
    <link href="@Assets["_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap.min.css"]" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
    <style>
        #components-reconnect-modal > h5 {
        color: #ffc107 !important;
        }

        #components-reconnect-modal {
        background-color: #141C23 !important;
        }

        #components-reconnect-modal > div {
        background-color: #0D1620 !important;
        border-color: #ffc107 rgb(243, 243, 243) rgb(243, 243, 243) !important;
        }
    </style>
</head>

<body>
    <script>
        var isShuttingDown = false;

        function setShutdown() {
            isShuttingDown = true;
        }
        // Wait until a 'reload' button appears
        new MutationObserver((mutations, observer) => {            
            var reconnectElement = document.querySelector("#components-reconnect-modal");

            if (reconnectElement) {
                if (isShuttingDown) {
                    reconnectElement.remove();
                }
            }
        }).observe(document.body, { childList: true, subtree: true });
    </script>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    @((MarkupString)@HxSetup.RenderBootstrapJavaScriptReference())
</body>
</html>