@inherits LayoutComponentBase

<div class="min-vh-100">
    <div class="d-md-flex">
        <NavComponent></NavComponent>
        <HxMessenger CssClass="mx-3 my-3" Position="ToastContainerPosition.BottomEnd" />
        <div class="main flex-grow-1 overflow-hidden">
            @Body
        </div>
    </div>
</div>